{%extends 'bootstrap/base.html'%}

{%block head%}
    {{super()}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style/main.css')}}">
    <title>{%block title%}daniel ejemplo |{%endblock%}</title>
{%endblock%}
    
{%block body%}
    {%block navbar%}
        {%include 'navbar.html'%}
    {%endblock%}
    
    {%for message in get_flashed_messages()%}
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert">
               
            </button>
            {{ message }}
        </div>
    {%endfor%}
    <img src="{{url_for('static', filename='images/erik-ly-dance.jpg')}}"/>
    {%block content %}   
    {%endblock%}
    {%block scripts%}
        {{super()}}
    {%endblock%}

{%endblock%}